.LLMList{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 70vh;
    overflow: scroll;

    .headings{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        span{
            font-size: 18px;
            font-weight: 600;
        }
    }
}