.info{
    padding: 3% 8%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 70px;
    background-image: linear-gradient(320deg,
            hsl(358deg 76% 36%) 0%,
            hsl(6deg 46% 49%) 13%,
            hsl(8deg 43% 61%) 29%,
            hsl(9deg 34% 72%) 46%,
            hsl(0deg 0% 83%) 65%,
            hsl(330deg 1% 86%) 81%,
            hsl(330deg 2% 89%) 93%,
            hsl(330deg 4% 92%) 99%,
            hsl(330deg 9% 96%) 100%);
    min-height: calc(100vh - 74px);
    font-size: x-large;

    h3{
        flex: 1;
    }

    .rowOne{
        flex: 3;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .moreInfo{
            display: flex;
            flex-direction: column;
            
            .infoTitle {
                    display: flex;
                    flex-direction: row;
                    gap:10px;
            
                    .infoLabel {
                        font-weight: 700;
                        font-size: x-large;
                    }
                }
        }

        .col {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        button {
            background: none;
            border: none;
            font-size: medium;
            text-align: center;
        }

        button:hover {
            color: #660708;
            font-weight: bold;
        }

        .form {
            button:hover {
                color: green
            }
        }
        
    }

    .rowTwo{
        flex: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10%;

        .col{
            display: flex;
            flex-direction: column;
            gap: 25px;
            
            .label{
                font-weight: 700;
                font-size: x-large;
            }
        }

        button {
            background: none;
            border: none;
            font-size: medium;
            text-align: center;
        }

        button:hover {
            color: #660708;
            font-weight: bold;
        }

        .form{
            button:hover {
              color:green
            }
        }

    }
}