.matrix{
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    gap: 100px;
    background-image: linear-gradient(320deg,
            hsl(358deg 76% 36%) 0%,
            hsl(6deg 46% 49%) 13%,
            hsl(8deg 43% 61%) 29%,
            hsl(9deg 34% 72%) 46%,
            hsl(0deg 0% 83%) 65%,
            hsl(330deg 1% 86%) 81%,
            hsl(330deg 2% 89%) 93%,
            hsl(330deg 4% 92%) 99%,
            hsl(330deg 9% 96%) 100%);
    min-height: calc(100vh - 74px);
    

    .graph{
        // background-color: #001427;
        background-color: #003049;
        border-radius: 15px;
        height: 700px;
        padding: 25px;
        -webkit-box-shadow: -7px -3px 9px 1px rgba(0, 0, 0, 0.2);
        box-shadow: -7px -3px 9px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .bottomText{
            position: absolute;
            top: 635px;
            color: white;
        }

        .leftText{
            position: absolute;
            top: 337.5px;
            left: -25px;
            transform: rotate(-90deg);
            color: white;
        }

        .scatter{
            z-index: 10;
        }

        .outline{
            position: absolute;
            top: 70px;
            border: solid 2px white;
            width: 560px;
            height: 560px;
            z-index: 2;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .box{
                width: 278px;
                height: 278px;
                border: solid 1px #d3d3d385;
            }
        }
        
        .row{
            width: 100%;
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;

            span{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                font-weight: 600;
                color: #d3d3d3;

                .chall{
                    width: 25px;
                    height: 25px;
                    background-color: #ff7f0e;
                    margin-right: 10px;
                }

                .lead{
                    width: 25px;
                    height: 25px;
                    background-color: #1f77b4;
                    margin-right: 10px;
                }

                .play{
                    width: 25px;
                    height: 25px;
                    background-color: #d62728;
                    margin-right: 10px;
                }

                .vision{
                    width: 25px;
                    height: 25px;
                    background-color: #2ca02c;
                    margin-right: 10px;
                }
            }
        }
    }
}