#header {
    background-color: #A4161A;
    width: 100%;
}

.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
}

.col-auto > .header-button {
    color: #660708;
    border: 0;
    font-size: 20px;
    font-weight: normal
}

.col-auto > .header-button:hover {
    color: #161A1D;
    font-weight: 500
}
